@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');





:root {
  --background: hsl(240deg, 5.88%, 10%);
  --text: 0 0 0;
}

.dark {
  background: hsl(240deg, 5.88%, 10%);
  --text: 255 255 255;
}


body{


  background-color: rgb(var(--background));
  color: rgb(var(--text));
  transition: background-color 0.5s, color 0.5s;
  font-family: 'Poppins', sans-serif;
  
}

html {
  scroll-behavior: smooth;
}



